box2d-py
google-cloud-aiplatform
google-cloud-storage
gymnasium[classic_control,atari,accept-rom-license]
ipywidgets
joblib
jupyterlab
keras-tuner
matplotlib
nbdime
nltk
pandas
pydot
scikit-learn
scipy
statsmodels
tensorboard-plugin-profile
tensorflow[and-cuda]
tensorflow-datasets
tensorflow-hub
tensorflow-serving-api
transformers
urlextract
xgboost
